html {width: 100%;} /* force html to be viewport width */

body   { 
	font-size: 21px;
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
    background-color: #003575;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-container > div {
    background-color: #ffffff;
    width: calc(33% - 150px);
    padding: 20px;
    margin: 50px;
    text-align: center;
    border-radius: 50px;
background: linear-gradient(145deg, #003069, #00397d);
box-shadow:  20px 20px 60px #002d63, 
             -20px -20px 60px #003d87;
  }

header {
	font-weight: 900;
	text-align: center;
	font-size: 144px;
    color: #ffffff;
    margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 2.5em;
	color:  #ffffff;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}

h4 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
    color:  #ffffff;
    line-height: 1em;
}

img.title {
	padding-right: 0.5em;
	height: 59px;
}